* {
    font-family: 'Roboto', sans-serif;
}

.logo {
    width: 3rem;
}

.my_custom_size_1 {
    width: 2rem;
    height: 2rem;
}

.my_bg-light-gray {
    background-color: #F8F9FA;
}

.my_custom_height {
    height: 91.7vh;
}

.my_custom_fs_1 {
    font-size: 0.9rem;
}

.sidebar_custom_bg {
    background-image: url("../img/sidebar-bg.png");
    background-color: #051E34;
}

.my_custom_bg_red {
    background: #DC3545;
}

.my_custom_bg_green {
    background-color: #198754;
}

.my_custom_bg_yellow {
    background-color: #FFC107;
}